{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}

            <div class ="form-group">
                {{form.name.label(class = "form-control-label")}}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-contro-lg is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.name(class = "form-control form-control-lg")}}  
                {% endif %} 

                
            </div>

            <fieldset class = "form-group">
                {% if meal.meal_ingredients %}
                    <table class="table" id="ingrTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Serving Size</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Fat (g)</th>
                            <th scope="col">Carbs (g)</th>
                            <th scope="col">Protein (g)</th>
                            <th scope="col">Calories (g)</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for mi in meal.meal_ingredients %}
                                <tr>
                                    <th scope="row"><a href="{{ url_for('update_ingredient', ingredient_id=mi.ingredient.id) }}">{{mi.ingredient.name}}</a></th>
                                    <td>{{mi.ingredient.brand}}</td>

                                    <td>
                                        {% if form['amount' + loop.index0|string].errors %}
                                            {{ form['amount' + loop.index0|string](class="form-control form-contro-sm is-invalid")}}
                                            <div class = invalid-feedback>
                                                {% for error in form['amount' + loop.index0|string].errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form['amount' + loop.index0|string](class = "form-control form-control-sm amount-input")}}     
                                        {% endif %} 
                
                                        </td>
                

                                    <td>
                                    {% if form['unit' + loop.index0|string].errors %}
                                        {{ form['unit' + loop.index0|string](class="form-control form-contro-sm is-invalid")}}
                                        <div class = invalid-feedback>
                                            {% for error in form['unit' + loop.index0|string].errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form['unit' + loop.index0|string](class = "btn btn-secondary dropdown-toggle")}}     
                                    {% endif %} 

                                    </td>


                                    <td>{{mi.ingredient.fat}}</td>
                                    <td>{{mi.ingredient.carbs}}</td>
                                    <td>{{mi.ingredient.protein}}</td>
                                    <td>{{mi.ingredient.calories}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <h1>No Ingredients</h1>
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endblock content %}


{% block sidebar %}
    <div class="content-section">
        <h3>Totals</h3>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Fat (g)</th>
                    <td id="TotalFat"></td>
                </tr>
                <tr>
                    <th scope="row">Carbs (g)</th>
                    <td id="TotalCarbs"></td>
                </tr>
                <tr>
                    <th scope="row">Protein (g)</th>
                    <td id="TotalProtein"></td>
                </tr>
                <tr>
                    <th scope="row">Calories</th>
                    <td id="TotalCalories"></td>
                </tr>
            </tbody>

        </table>
    </div>
{% endblock sidebar %}



{% block javascript %}
<script type=text/javascript>
    $('.amount-input').keyup(function(event){
    // play with event
    // use $(this) to determine which element triggers this event

        var textbox = $(this)
        var name = document.getElementById("name");


        var ingrTbl = document.getElementById("ingrTable");
        var ingr_list = {{ ingr_list|tojson }};
        

        var tr = textbox.parents('tr');
        var rownumber = tr.index();


        var current_tb_val = parseFloat(textbox.val());
        ingrTable.rows[rownumber+1].cells[4].innerHTML = current_tb_val / ingr_list[rownumber]["ServingAmount"] * ingr_list[rownumber]["Fat"] || 0;

        ingrTable.rows[rownumber+1].cells[5].innerHTML = current_tb_val / ingr_list[rownumber]["ServingAmount"] * ingr_list[rownumber]["Carbs"] || 0;
 
        ingrTable.rows[rownumber+1].cells[6].innerHTML = current_tb_val / ingr_list[rownumber]["ServingAmount"] * ingr_list[rownumber]["Protein"] || 0;

        ingrTable.rows[rownumber+1].cells[7].innerHTML = current_tb_val / ingr_list[rownumber]["ServingAmount"] * ingr_list[rownumber]["Calories"] || 0;


        calculateTotals();

    });

    function calculateTotals(){
        var table = document.getElementById("ingrTable");
        var sumFat = 0;
        var sumCarbs = 0;
        var sumProtein = 0;
        var sumCalories = 0;
        for (var i = 1, row; row = table.rows[i]; i++) {
            sumFat += parseFloat(row.cells[4].innerHTML);
            sumCarbs += parseFloat(row.cells[5].innerHTML);
            sumProtein += parseFloat(row.cells[6].innerHTML);
            sumCalories += parseFloat(row.cells[7].innerHTML);
        }


        document.getElementById("TotalFat").innerHTML = sumFat;
        document.getElementById("TotalCarbs").innerHTML = sumCarbs;
        document.getElementById("TotalProtein").innerHTML = sumProtein;        
        document.getElementById("TotalCalories").innerHTML = sumCalories;
    }

</script>
{% endblock javascript %}