{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">{{ legend}}</legend>

                <div class ="form-group">
                    {{form.brand.label(class = "form-control-label")}}

                    {% if form.brand.errors %}
                        {{ form.brand(class="form-control form-contro-lg is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.brand.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.brand(class = "form-control form-control-lg")}}  
                    {% endif %} 

                    
                </div>
                <div class ="form-group">
                    {{form.name.label(class = "form-control-label")}}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-contro-lg is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.name(class = "form-control form-control-lg")}}     
                    {% endif %} 
                </div>

                
                <div class="form-row">
                    <div class ="form-group col-md-3">
                        {{form.fat.label(class = "form-control-label")}}

                        {% if form.fat.errors %}
                            {{ form.fat(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.fat.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.fat(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>


                    <div class ="form-group col-md-3">
                        {{form.carbs.label(class = "form-control-label")}}

                        {% if form.carbs.errors %}
                            {{ form.carbs(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.carbs.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.carbs(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>


                    <div class ="form-group col-md-3">
                        {{form.protein.label(class = "form-control-label")}}

                        {% if form.protein.errors %}
                            {{ form.protein(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.protein.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.protein(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>


                    <div class ="form-group col-md-3">
                        {{form.calories.label(class = "form-control-label")}}

                        {% if form.calories.errors %}
                            {{ form.calories(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.calories.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.calories(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>
                </div>

                <div class="form-control-label mb-3">
                    Serving Size
                </div>

                <div class="form-row">
                    <div class ="form-group">
                        {% if form.serv_weight.errors %}
                            {{ form.serv_weight(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.serv_weight.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.serv_weight(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>

                    <div class ="form-group">
                        {% if form.drop_weight.errors %}
                            {{ form.drop_weight(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.drop_weight.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.drop_weight(class = "btn btn-secondary dropdown-toggle")}}     
                        {% endif %} 
                    </div>




                    <div class ="form-group">
                        {% if form.serv_volume.errors %}
                            {{ form.serv_volume(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.serv_volume.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.serv_volume(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>

                    <div class ="form-group">
                        {% if form.drop_volume.errors %}
                            {{ form.drop_volume(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.drop_volume.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.drop_volume(class = "btn btn-secondary dropdown-toggle")}}     
                        {% endif %} 
                    </div>


                    <div class ="form-group">
                        {% if form.serv_count.errors %}
                            {{ form.serv_count(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.serv_count.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.serv_count(class = "form-control form-control-sm")}}     
                        {% endif %} 
                    </div>

                    <div class ="form-group">
                        {% if form.drop_count.errors %}
                            {{ form.drop_count(class="form-control form-contro-sm is-invalid")}}
                            <div class = invalid-feedback>
                                {% for error in form.drop_count.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{form.drop_count(class = "btn btn-secondary dropdown-toggle")}}     
                        {% endif %} 
                    </div>

                </div>





            </fieldset>
            <div class ="form-group">   
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>

    </div>

{% endblock content %}






{% block javascript %}
<script type=text/javascript>
    $('#fat, #carbs, #protein').keyup(function(){
        var fat = parseFloat($('#fat').val()) || 0;
        var carbs = parseFloat($('#carbs').val()) || 0;
        var protein = parseFloat($('#protein').val()) || 0;

        $('#calories').val(9*fat + 4*carbs + 4*protein);    
    });
</script>
{% endblock javascript %}