{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}

            <div class ="form-group">
                {{form.name.label(class = "form-control-label")}}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-contro-lg is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.name(class = "form-control form-control-lg")}}  
                {% endif %} 

                
            </div>

            <fieldset class = "form-group">
                {% if meal.meal_ingredients %}
                    <table class="table" id="ingrTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Fat (g)</th>
                            <th scope="col">Carbs (g)</th>
                            <th scope="col">Protein (g)</th>
                            <th scope="col">Calories</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in ingr_list %}
                                <tr>
                                    <th scope="row"><a href="{{ url_for('update_ingredient', ingredient_id=i.IngrID) }}">{{i.IngrName}}</a></th>
                                    <td>{{i.IngrBrand}}</td>

                                    <td>
                                        {% if form['amount' + i.MealIngrID|string].errors %}
                                            {{ form['amount' + i.MealIngrID|string](class="form-control form-contro-sm is-invalid")}}
                                            <div class = invalid-feedback>
                                                {% for error in form['amount' + i.MealIngrID|string].errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form['amount' + i.MealIngrID|string](class = "form-control form-control-sm amount-input")}}     
                                        {% endif %} 
                
                                        </td>
                

                                    <td>
                                    {% if form['unit' + i.MealIngrID|string].errors %}
                                        {{ form['unit' + i.MealIngrID|string](class="form-control form-contro-sm is-invalid")}}
                                        <div class = invalid-feedback>
                                            {% for error in form['unit' + i.MealIngrID|string].errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form['unit' + i.MealIngrID|string](class = "btn btn-secondary dropdown-toggle unit-dropdown")}}     
                                    {% endif %} 

                                    </td>

                                    
                                    <td>{{'%0.1f'| format(i.ServingFat|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingCarbs|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingProtein|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingCalories|float)}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <h1>No Ingredients</h1>
                {% endif %}
            </fieldset>

            


            <div class="form-row">
                <div class ="form-group">
                    {% if form.serv_weight.errors %}
                        {{ form.serv_weight(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.serv_weight.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.serv_weight(class = "form-control form-control-sm")}}     
                    {% endif %} 
                </div>

                <div class ="form-group">
                    {% if form.drop_weight.errors %}
                        {{ form.drop_weight(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.drop_weight.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.drop_weight(class = "btn btn-secondary dropdown-toggle")}}     
                    {% endif %} 
                </div>




                <div class ="form-group">
                    {% if form.serv_volume.errors %}
                        {{ form.serv_volume(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.serv_volume.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.serv_volume(class = "form-control form-control-sm")}}     
                    {% endif %} 
                </div>

                <div class ="form-group">
                    {% if form.drop_volume.errors %}
                        {{ form.drop_volume(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.drop_volume.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.drop_volume(class = "btn btn-secondary dropdown-toggle")}}     
                    {% endif %} 
                </div>


                <div class ="form-group">
                    {% if form.serv_count.errors %}
                        {{ form.serv_count(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.serv_count.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.serv_count(class = "form-control form-control-sm")}}     
                    {% endif %} 
                </div>

                <div class ="form-group">
                    {% if form.drop_count.errors %}
                        {{ form.drop_count(class="form-control form-contro-sm is-invalid")}}
                        <div class = invalid-feedback>
                            {% for error in form.drop_count.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.drop_count(class = "btn btn-secondary dropdown-toggle")}}     
                    {% endif %} 
                </div>

            </div>






            <div class ="form-group">
                {{form.recipe.label(class = "form-control-label")}}

                {% if form.recipe.errors %}
                    {{ form.recipe(class="form-control form-contro-sm is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.recipe.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.recipe(class = "form-control form-control-sm")}}  
                {% endif %} 
            </div>

            <div class ="form-group">
                {{form.notes.label(class = "form-control-label")}}

                {% if form.notes.errors %}
                    {{ form.notes(class="form-control form-contro-lg is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.notes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.notes(class = "form-control form-control-lg")}}  
                {% endif %} 
            </div>

            <div class ="form-group">
                {{form.favorite.label(class = "form-control-label")}}

                {% if form.favorite.errors %}
                    {{ form.favorite(class="form-control form-contro-sm is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.favorite.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.favorite(class = "form-control form-control-sm")}}  
                {% endif %} 
            </div>

            <div class ="form-group">   
                {{form.submit(class="btn btn-outline-info")}}
            </div>


            <a class="btn btn-primary btn-md mb-3" href="{{ url_for('add_ingredients_to_meal',meal_id=meal.id) }}">Add Ingredient</a>
            <a class="btn btn-primary btn-md mb-3" href="{{ url_for('add_meal_to_ingredients',meal_id=meal.id) }}">Add Meal to Ingredients</a>
            <!-- <input type="hidden" id="TotalFatHidden" name="total_fat" value={{meal.fat}}/>
            <input type="hidden" id="TotalCarbsHidden" name="total_carbs" value={{meal.carbs}}/>
            <input type="hidden" id="TotalProteinHidden" name="total_protein" value={{meal.protein}}/>
            <input type="hidden" id="TotalCaloriesHidden" name="total_calories" value={{meal.calories}}/> -->
            {{form.total_protein}}
            {{form.total_carbs}}
            {{form.total_fat}}
            {{form.total_calories}}

        </form>
    </div>
{% endblock content %}


{% block sidebar %}
    <div class="content-section">
        <h3>Totals</h3>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Fat (g)</th>
                    <td id="TotalFat">{{meal.fat}}</td>
                </tr>
                <tr>
                    <th scope="row">Carbs (g)</th>
                    <td id="TotalCarbs">{{meal.carbs}}</td>
                </tr>
                <tr>
                    <th scope="row">Protein (g)</th>
                    <td id="TotalProtein">{{meal.protein}}</td>
                </tr>
                <tr>
                    <th scope="row">Calories</th>
                    <td id="TotalCalories">{{meal.calories}}</td>
                </tr>
            </tbody>

        </table>
    </div>
{% endblock sidebar %}



{% block javascript %}
<script type=text/javascript>
    $('.amount-input').keyup(function(event){

        var textbox = $(this);
        var tr = textbox.parents('tr');
        var rownumber = tr.index();
        var mealID = getNumber(textbox.attr('id'));

        calculateVals(rownumber, mealID);


    });
    $('.unit-dropdown').change(function(event){
        var dropdown = $(this);
        var tr = dropdown.parents('tr');
        var rownumber = tr.index();
        var mealID = getNumber(dropdown.attr('id'));

        calculateVals(rownumber, mealID);
    });

    $(window).load(function(event){
        calculateTotals();
    });

    function getNumber(elementName) {
        var matches = elementName.match(/(\d+)/);
              
        if (matches) {
            return parseInt(matches[0]);
        }
    }

    function calculateVals(rownumber, mealID) {
        var ingrTbl = document.getElementById("ingrTable");
        var ingr_list = {{ ingr_list|tojson }};
        var unit_dict = {{ unit_dict|tojson }};

        var tb = document.getElementById("amount" + mealID);
        var current_tb_val = parseFloat(tb.value);

        calculateRow(current_tb_val, ingr_list, unit_dict, ingrTable, rownumber, mealID)
        calculateTotals();
    }

    function calculateRow(serving_amount_val, ingr_list, unit_dict, ingrTable, rownumber, mealID){
        var ingr = ingr_list[rownumber];

        var unit_dropdown = document.getElementById("unit" + mealID);
        var unit_dropdown_id = unit_dropdown.options[unit_dropdown.selectedIndex].value;

        var unit_selected = unit_dict[unit_dropdown_id];

        var ingr_unit_id = 0;
        var ingr_serv_amount = -1;

        switch(unit_selected["UnitTypeID"]){
            case 1:
                ingr_unit_id = ingr["IngrWeightUnitID"];
                ingr_serv_amount = ingr["IngrWeightAmount"];
                break;
            case 2:
                ingr_unit_id = ingr["IngrVolumeUnitID"];
                ingr_serv_amount = ingr["IngrVolumeAmount"];
                break;
            case 3:
                ingr_unit_id = ingr["IngrCountUnitID"];
                ingr_serv_amount = ingr["IngrCountAmount"];
                break;
        }

        ingr_unit = unit_dict[ingr_unit_id];

        var fat_amount = ingr["IngrFat"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var carbs_amount =ingr["IngrCarbs"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var protein_amount = ingr["IngrProtein"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var calories_amount = ingr["IngrCalories"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
    
        ingrTable.rows[rownumber+1].cells[4].innerHTML = parseFloat(fat_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[5].innerHTML = parseFloat(carbs_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[6].innerHTML = parseFloat(protein_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[7].innerHTML = parseFloat(calories_amount).toFixed(1);
    }

    function calculateTotals(){
        var table = document.getElementById("ingrTable");
        var sumFat = 0;
        var sumCarbs = 0;
        var sumProtein = 0;
        var sumCalories = 0;
        for (var i = 1, row; row = table.rows[i]; i++) {
            sumFat += parseFloat(row.cells[4].innerHTML);
            sumCarbs += parseFloat(row.cells[5].innerHTML);
            sumProtein += parseFloat(row.cells[6].innerHTML);
            sumCalories += parseFloat(row.cells[7].innerHTML);
        }


        document.getElementById("TotalFat").innerHTML = sumFat.toFixed(1);
        document.getElementById("TotalCarbs").innerHTML = sumCarbs.toFixed(1);
        document.getElementById("TotalProtein").innerHTML = sumProtein.toFixed(1);        
        document.getElementById("TotalCalories").innerHTML = sumCalories.toFixed(1);

        document.getElementById("total_fat").value = sumFat.toFixed(1);
        document.getElementById("total_carbs").value = sumCarbs.toFixed(1);
        document.getElementById("total_protein").value = sumProtein.toFixed(1);        
        document.getElementById("total_calories").value = sumCalories.toFixed(1);
    }

</script>
{% endblock javascript %}