{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}

            <div class ="form-group">
                {{form.name.label(class = "form-control-label")}}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-contro-lg is-invalid")}}
                    <div class = invalid-feedback>
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.name(class = "form-control form-control-lg")}}  
                {% endif %} 

                
            </div>

            <fieldset class = "form-group">
                {% if meal.meal_ingredients %}
                    <table class="table" id="ingrTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Fat (g)</th>
                            <th scope="col">Carbs (g)</th>
                            <th scope="col">Protein (g)</th>
                            <th scope="col">Calories (g)</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for i in ingr_list %}
                                <tr>
                                    <th scope="row"><a href="{{ url_for('update_ingredient', ingredient_id=i.IngrID) }}">{{i.IngrName}}</a></th>
                                    <td>{{i.IngrBrand}}</td>

                                    <td>
                                        {% if form['amount' + loop.index0|string].errors %}
                                            {{ form['amount' + loop.index0|string](class="form-control form-contro-sm is-invalid")}}
                                            <div class = invalid-feedback>
                                                {% for error in form['amount' + loop.index0|string].errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{form['amount' + loop.index0|string](class = "form-control form-control-sm amount-input")}}     
                                        {% endif %} 
                
                                        </td>
                

                                    <td>
                                    {% if form['unit' + loop.index0|string].errors %}
                                        {{ form['unit' + loop.index0|string](class="form-control form-contro-sm is-invalid")}}
                                        <div class = invalid-feedback>
                                            {% for error in form['unit' + loop.index0|string].errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form['unit' + loop.index0|string](class = "btn btn-secondary dropdown-toggle unit-dropdown")}}     
                                    {% endif %} 

                                    </td>

                                    
                                    <td>{{'%0.1f'| format(i.ServingFat|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingCarbs|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingProtein|float)}}</td>
                                    <td>{{'%0.1f'| format(i.ServingCalories|float)}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <h1>No Ingredients</h1>
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endblock content %}


{% block sidebar %}
    <div class="content-section">
        <h3>Totals</h3>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row">Fat (g)</th>
                    <td id="TotalFat"></td>
                </tr>
                <tr>
                    <th scope="row">Carbs (g)</th>
                    <td id="TotalCarbs"></td>
                </tr>
                <tr>
                    <th scope="row">Protein (g)</th>
                    <td id="TotalProtein"></td>
                </tr>
                <tr>
                    <th scope="row">Calories</th>
                    <td id="TotalCalories"></td>
                </tr>
            </tbody>

        </table>
    </div>
{% endblock sidebar %}



{% block javascript %}
<script type=text/javascript>
    $('.amount-input').keyup(function(event){

        var textbox = $(this);
        var tr = textbox.parents('tr');
        var rownumber = tr.index();


        calculateVals(rownumber);


    });
    $('.unit-dropdown').change(function(event){
        var dropdown = $(this);
        var tr = dropdown.parents('tr');
        var rownumber = tr.index();
        
        calculateVals(rownumber);
    });

    function calculateVals(rownumber) {
        var ingrTbl = document.getElementById("ingrTable");
        var ingr_list = {{ ingr_list|tojson }};
        var unit_dict = {{ unit_dict|tojson }};

        var tb = document.getElementById("amount" + rownumber);
        var current_tb_val = parseFloat(tb.value);

        calculateRow(current_tb_val, ingr_list, unit_dict, ingrTable, rownumber)
        calculateTotals();
    }

    function calculateRow(serving_amount_val, ingr_list, unit_dict, ingrTable, rownumber){
        var ingr = ingr_list[rownumber];

        var unit_dropdown = document.getElementById("unit" + rownumber);
        var unit_dropdown_id = unit_dropdown.options[unit_dropdown.selectedIndex].value;

        var unit_selected = unit_dict[unit_dropdown_id];

        var ingr_unit_id = 0;
        var ingr_serv_amount = -1;

        switch(unit_selected["UnitTypeID"]){
            case 1:
                ingr_unit_id = ingr["IngrWeightUnitID"];
                ingr_serv_amount = ingr["IngrWeightAmount"];
                break;
            case 2:
                ingr_unit_id = ingr["IngrVolumeUnitID"];
                ingr_serv_amount = ingr["IngrVolumeAmount"];
                break;
            case 3:
                ingr_unit_id = ingr["IngrCountUnitID"];
                ingr_serv_amount = ingr["IngrCountAmount"];
                break;
        }

        ingr_unit = unit_dict[ingr_unit_id];

        var fat_amount = ingr["IngrFat"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var carbs_amount =ingr["IngrCarbs"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var protein_amount = ingr["IngrProtein"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
        var calories_amount = ingr["IngrCalories"] * serving_amount_val * unit_selected["Conversion"] /(ingr_serv_amount * ingr_unit["Conversion"]) || 0;
    
        ingrTable.rows[rownumber+1].cells[4].innerHTML = parseFloat(fat_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[5].innerHTML = parseFloat(carbs_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[6].innerHTML = parseFloat(protein_amount).toFixed(1);
        ingrTable.rows[rownumber+1].cells[7].innerHTML = parseFloat(calories_amount).toFixed(1);
    }

    function calculateTotals(){
        var table = document.getElementById("ingrTable");
        var sumFat = 0;
        var sumCarbs = 0;
        var sumProtein = 0;
        var sumCalories = 0;
        for (var i = 1, row; row = table.rows[i]; i++) {
            sumFat += parseFloat(row.cells[4].innerHTML);
            sumCarbs += parseFloat(row.cells[5].innerHTML);
            sumProtein += parseFloat(row.cells[6].innerHTML);
            sumCalories += parseFloat(row.cells[7].innerHTML);
        }


        document.getElementById("TotalFat").innerHTML = sumFat.toFixed(1);
        document.getElementById("TotalCarbs").innerHTML = sumCarbs.toFixed(1);
        document.getElementById("TotalProtein").innerHTML = sumProtein.toFixed(1);        
        document.getElementById("TotalCalories").innerHTML = sumCalories.toFixed(1);
    }

</script>
{% endblock javascript %}