{% extends "layout.html" %}

{% block content %}



<fieldset class = "form-group">
        <table class="table" id="SumTable">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Calories</th>
                <th scope="col">Carbs (g)</th>
                <th scope="col">Protein (g)</th>
                <th scope="col">Fat (g)</th>
            </tr>
            </thead>
            <tbody>
                {% for i in sums %}
                    <tr>
                        <td>{{ i.date }}</td>
                        <td>{{'%0.1f'| format(i.fat|float)}}</td>
                        <td>{{'%0.1f'| format(i.carbs|float)}}</td>
                        <td>{{'%0.1f'| format(i.protein|float)}}</td>
                        <td>{{'%0.1f'| format(i.calories|float)}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</fieldset>

{% endblock content %}